<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loding1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,348},{240,81}}</string>
                <key>offset</key>
                <string>{-62,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{240,81}}</string>
                <key>sourceSize</key>
                <string>{384,91}</string>
            </dict>
            <key>loding2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{286,81}}</string>
                <key>offset</key>
                <string>{-39,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{286,81}}</string>
                <key>sourceSize</key>
                <string>{384,91}</string>
            </dict>
            <key>loding3.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{320,81}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{320,81}}</string>
                <key>sourceSize</key>
                <string>{384,91}</string>
            </dict>
            <key>loding4.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{354,81}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{354,81}}</string>
                <key>sourceSize</key>
                <string>{384,91}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{604,344}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{604,344}}</string>
                <key>sourceSize</key>
                <string>{640,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_texture.png</string>
            <key>size</key>
            <string>{800,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87d509f39473d831c355981d6860a749:765142eef78aad5ebceb03d1ede58df0:6df079f6dacbd84650819da6507598f4$</string>
            <key>textureFileName</key>
            <string>loading_texture.png</string>
        </dict>
    </dict>
</plist>
