<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{540,149}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,20},{540,149}}</string>
                <key>sourceSize</key>
                <string>{640,177}</string>
            </dict>
            <key>setting-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,182}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,26},{540,182}}</string>
                <key>sourceSize</key>
                <string>{640,218}</string>
            </dict>
            <key>setting.button.ok-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,385},{381,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{381,140}}</string>
                <key>sourceSize</key>
                <string>{391,140}</string>
            </dict>
            <key>setting.button.ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{381,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{381,140}}</string>
                <key>sourceSize</key>
                <string>{391,140}</string>
            </dict>
            <key>setting.check-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,842},{70,68}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{70,68}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>setting.check-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,768},{74,72}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{74,72}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>setting.glasses.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{225,302}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{225,302}}</string>
                <key>sourceSize</key>
                <string>{245,348}</string>
            </dict>
            <key>setting.hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{299,251}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{299,251}}</string>
                <key>sourceSize</key>
                <string>{303,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting_texture.png</string>
            <key>size</key>
            <string>{479,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce6e9d37513fd05f04234daefef102b9:fe1deaf9cc3804edacd6029ce804cfda:ffc6cfd52da8d10568afc6a1b6936ce1$</string>
            <key>textureFileName</key>
            <string>setting_texture.png</string>
        </dict>
    </dict>
</plist>
