<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameover.top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,603}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,603}}</string>
                <key>sourceSize</key>
                <string>{640,627}</string>
            </dict>
            <key>gameplay.bg.sprite-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,533},{128,150}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{128,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>gameplay.bg.sprite-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,381},{128,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{128,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>gameplay.bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,240},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>gameplay.button.back-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,252},{370,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{370,99}}</string>
                <key>sourceSize</key>
                <string>{378,99}</string>
            </dict>
            <key>gameplay.button.back.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,252},{370,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{370,99}}</string>
                <key>sourceSize</key>
                <string>{378,99}</string>
            </dict>
            <key>gameplay.button.pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,117},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>gameplay.button.resume-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{370,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{370,99}}</string>
                <key>sourceSize</key>
                <string>{378,99}</string>
            </dict>
            <key>gameplay.button.resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{370,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{370,99}}</string>
                <key>sourceSize</key>
                <string>{378,99}</string>
            </dict>
            <key>gameplay.enemy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,607},{220,187}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{220,187}}</string>
                <key>sourceSize</key>
                <string>{226,191}</string>
            </dict>
            <key>gameplay.enemy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,252},{149,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,127}}</string>
                <key>sourceSize</key>
                <string>{151,127}</string>
            </dict>
            <key>gameplay.enemy.planet.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{242,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,248}}</string>
                <key>sourceSize</key>
                <string>{242,248}</string>
            </dict>
            <key>gameplay.fighter.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,624},{198,153}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{198,153}}</string>
                <key>sourceSize</key>
                <string>{204,161}</string>
            </dict>
            <key>gameplay.life.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,184},{55,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>gameplay.stone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{113,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{113,107}}</string>
                <key>sourceSize</key>
                <string>{123,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_texture.png</string>
            <key>size</key>
            <string>{997,809}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffe678c0b8abee19a0e7b19b760e250c:ea0948b88a38099588510d04e5f4f223:ab07efa27b4df961abb8495ab1960d70$</string>
            <key>textureFileName</key>
            <string>gameplay_texture.png</string>
        </dict>
    </dict>
</plist>
