<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home-end.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,302}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{640,302}}</string>
                <key>sourceSize</key>
                <string>{640,304}</string>
            </dict>
            <key>home-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{608,295}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{608,295}}</string>
                <key>sourceSize</key>
                <string>{640,307}</string>
            </dict>
            <key>home.button.help-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,204},{370,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{370,99}}</string>
                <key>sourceSize</key>
                <string>{378,99}</string>
            </dict>
            <key>home.button.help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,204},{370,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{370,99}}</string>
                <key>sourceSize</key>
                <string>{378,99}</string>
            </dict>
            <key>home.button.setting-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,103},{370,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{370,99}}</string>
                <key>sourceSize</key>
                <string>{378,99}</string>
            </dict>
            <key>home.button.setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,103},{370,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{370,99}}</string>
                <key>sourceSize</key>
                <string>{378,99}</string>
            </dict>
            <key>home.button.start-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{370,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{370,99}}</string>
                <key>sourceSize</key>
                <string>{378,99}</string>
            </dict>
            <key>home.button.start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{370,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{370,99}}</string>
                <key>sourceSize</key>
                <string>{378,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_texture.png</string>
            <key>size</key>
            <string>{1998,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49ac9a01325aa69b45d072914ecd0fac:f21df213f7302d369fd484ec38c47c3b:cd0fbaa35767ae34e448c060ca654a74$</string>
            <key>textureFileName</key>
            <string>home_texture.png</string>
        </dict>
    </dict>
</plist>
